<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>QuadraticConverter.py</string>
			<key>preferredName</key>
			<string>QuadraticConverter</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>summary</key>
	<string>QuadraticConverter is an extension for RoboFont that converts Cubic (PostScript) UFO to Quadratic (TrueType) UFO.</string>
	<key>developer</key>
	<string>Jérémie Hornus and Samuel Hornus</string>
	<key>developerURL</key>
	<string>http://www.typosansplomb.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>QuadraticConverter</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>2</string>
	<key>timeStamp</key>
	<real>1411581854.809669</real>
	<key>version</key>
	<string>0.7.3</string>
</dict>
</plist>
